.city-list {
  width: 800px;
  margin: auto;
  padding: 30px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    border-radius: 8px;
    height: 24px;
    box-sizing: border-box;
  }

  label {
    font-size: 20px;
  }

  label,
  input {
    margin: 0 4px;
  }
}